*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}


.card{
    width: 50%;
    margin: 100px auto;
    text-align: center;
    max-height: 700px;
    border-radius: 20px;
    padding: 40px 25px;
    background: linear-gradient(120deg, #53bcc9, rgb(95, 191, 78));
}

.title{
    font-size: 60px;
    font-weight: 600;
    color: #2a00d0c4;
}

.numb{
    padding: 10px 50px;
    border-radius: 20px;
    background-color: aliceblue;
    font-size: 40px;
    width: fit-content;
    margin: auto;

}

body{
    background-color: #222;
}

.buttons{
    display: flex;
    margin: 20px auto;
    justify-content: center;
    gap: 20px;
}

button{
    padding: 9px 15px;
    border: none;
    color: rgb(0, 0, 0);
    background: #d4ff14e7;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}

button:hover{
    background-color: rgba(0, 0, 0, 0.3);
    color: aliceblue;
}

button:active{
    transform: scale(0.95);
}

.round{
    border-radius: 50%;
}